body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    /*background-image:url(../images/background.jpg); */
    background-size: cover;
    height:auto;
    opacity:0.92;
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:20px !important}

.img-circle{
    margin-top:10%;
    margin-right:10px;
}

.btn-icon-left{
    background-color:transparent;
    border:none;
    outline:none;
    margin-top:10%;
    margin-right:2px;
}

.btn-icon-mid{
    background-color:transparent;
    border:none;
    outline:none;
    margin-top:10%;
    margin-right:6px;
}

.btn-icon-right{
    background-color:transparent;
    border:none;
    outline:none;
    margin-top:6%;
    margin-right:30px;
}

.nav-glyphicon{
    color:white;
    font-size:2em;
}

.div-history-list{
    margin-top: 50px;
    margin-left: 50px;
}

.history-entry{
    margin-top: 5px;
}

.btn-invite-submit{
    margin-left: 20px;
    background: #a94442;
    border: #B13B3B;
    border-radius: 2px;
    color: white;
}

.btn-flag-submit{
    margin-left: 10px;
    background: #a94442;
    border: #B13B3B;
    border-radius: 2px;
    color: white;
}

.guess-form{
    display: block;
    margin: 0 auto;
}

.textarea-flag{
    width: 450px;
    height: 100px ;
}












