<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY APP</title>
</head>
<body>
May Node and Express be with you.

<a href="/picture_delete/590cc1da16cd71cacb704e1a" >delete</a>
<form action="/picture_submit" method="POST">
    <input type="text" placeholder="Title" name="title">
    <input type="text" placeholder="Answer" name="answer">
    <input type="text" placeholder="image" name="image">
    <button type="submit">Submit</button>
</form>
</hr>
<ul>
    <%= messages%>
    <%if(locals.pictures){pictures.forEach(function(picture){ %>
    <li><%=picture.title%> - <%=picture.answer %></li>
    <%});}%>
</ul>
<form action="/picture_submit" method="POST">
    <input type="text" placeholder="Title" name="title">
    <input type="text" placeholder="Answer" name="answer">
    <input type="text" placeholder="image" name="image">
    <button type="submit">Submit</button>
</form>
</body>
</html>