<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY APP</title>
</head>
<body>

<form action="/signup" method="POST">
    <label>signup</label>
    <input type="text" placeholder="username" name="username">
    <input type="text" placeholder="password" name="password">
    <input type="text" placeholder="email" name="email">
    <button type="submit">Submit</button>
</form>
<br>
<form action="/login" method="POST">
    <label>login</label>
    <input type="text" placeholder="username" name="username">
    <input type="text" placeholder="password" name="password">
    <input type="text" placeholder="email" name="email">
    <button type="submit">Submit</button>
</form>
<br>
<form action="/picture_submit" method="POST">
    <label>picuture_submit</label>
    <input type="text" placeholder="Title" name="picture">
    <input type="text" placeholder="image" name="tag">
    <input type="text" placeholder="image" name="description">
    <input type="text" placeholder="image" name="keyword" value = "banana">
    <input type="text" placeholder="Answer" name="answer" value="apple">
    <button type="submit">Submit</button>
</form>
</hr>

<a href="/logout" >logout</a><br>
<a href="/global" >global</a><br>
<a href="/me" >me</a><br>

<a href="/user/590fe680ebf420286d03b6f9">user_id</a><br>
<a href="/follow/590fe680ebf420286d03b6f9" >follow</a><br>
<a href="/unfollow/590fe680ebf420286d03b6f9" >unfollow</a><br>

<a href="/followlist" >followlist</a><br>
<a href="/like/590fe680ebf420286d03b6f9" >like</a><br>
<a href="/dislike/590fe680ebf420286d03b6f9">dislike</a><br>
<a href="/get_keyword">get keyword</a><br>
<form action="/check_answer" method="POST">
    <label>check_keywords</label>
    <input type="text" placeholder="Answer" name="picture_id" value="590ff601d3f5eb2b39466529">
    <input type="text" placeholder="keyword" name="guess_word" value="banana">
    <button type="submit">Submit</button>

</form><a href="/show_bookmarks" >show_bookmarks</a><br>
<a href="/invite">invite</a><br>

</body>
</html>